<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.Birzeit.abdallah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/barca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/barca"
        android:supportsRtl="true"
        android:theme="@style/Theme.A1181768">
        <activity
            android:name=".Palestine_teams"
            android:exported="true" />
        <activity
            android:name=".Teams.BalataActivity"
            android:exported="true" />
        <activity
            android:name=".Teams.BarcaActivity"
            android:exported="true" />
        <activity
            android:name=".Teams.ArsenalActivity"
            android:exported="true" />
        <activity
            android:name=".Teams.MilanActivity"
            android:exported="true" />
        <activity
            android:name=".Spain_teams"
            android:exported="true" />
        <activity
            android:name=".England_teams"
            android:exported="true" />
        <activity
            android:name=".Italy_teams"
            android:exported="true" />
        <activity
            android:name=".HomePage"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>